body{
    background-color: #E0DDD6;
}


.tituloSuperior{
    font-family: FranklinGotItcTEEBooCom;
    /* font-family: CaviarDreams; */
    /* font-family: MisterSinatra; */
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    text-transform: none;
    line-height: 1.3em;
    font-size: 2rem;
}

#txtArchivo{
    background: url("../img/Renglon01.svg"); 
    background-repeat: repeat-y;
    background-attachment: local;
    background-size: auto 50px;
    width: 100%; 
    font: normal 14px verdana; 
    line-height: 25px;
    padding-left: 90px;
}