body{
    background-color: #E0DDD6;
}


.tituloSuperior{
    font-family: FranklinGotItcTEEBooCom;
    /* font-family: CaviarDreams; */
    /* font-family: MisterSinatra; */
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    text-transform: none;
    line-height: 1.3em;
    font-size: 2rem;
}

#txtArchivo{
    background: url("../img/Renglon01.svg"); 
    background-repeat: repeat-y;
    background-attachment: local;
    background-size: auto 50px;
    width: 100%; 
    font: normal 14px verdana; 
    line-height: 25px;
    padding-left: 90px;
}

.detalles{
    margin-top: 0px;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f8f2e2;
    border-color: rgb(209, 174, 131);
}

#btnGuardarCap{
    background-color: rgb(192, 162, 126); 
    color: rgb(255, 255, 255);
}

#btnMasOpciones{    
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(66, 58, 40);
}

.oColor{
    background-color: rgb(203, 218, 176);
}
.oColorm{
    background-color: rgb(219, 173, 134);
}
